* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.main-top {
  width: 100%;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(14, 14, 14);
  width: 80%;
  margin: auto;
}

.titulo h1 {
  font-size: 20px;
}

.titulo p {
  font-weight: 600;
  margin-top: -10px;
}

.main-movie div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5px;
}

div p {
  margin-left: 5px;
  font-size: 20px;
}
