<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/login.css">

  <body>
    <%- include('./partials/header.ejs') %>

      <main>
        <!-- <form method="post" action="#"> -->
        <div class="login-box">
          <h3>Inicia Sesion</h3>
          <input class="buttons" type="text" name="usuario" value="" placeholder="Email o numero de telefono">
          <input class="buttons" type="text" name="password" value="" placeholder="Contrase単a">
          <input class="botones" type="submit" name="" value="Ingresar">
          <p><a href="#">多Olvidaste la contrase単a?</a></p>
          <p>多Primera vez?<a class="suscribete" href="/register"> Suscribete ahora.</a></p>
        </div>
        </form>
      </main>

      <%- include('./partials/footer.ejs') %>
  </body>

</html>