<!-- <!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="/css/add.css">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
      <main>
        <h1>Agregar Pelicula</h1>
        <br>
        <section id="formulario">
          <article>
            <form action="/movies/create" method="POST">
              <label for="title">Titulo </label>
              <p><input type="text" name="title" id="titulo" required></p>
              <label for="rating">Calificación </label>
              <p><input type="number" name="rating" id="" required> </p>
              <label for="awards">Premios </label>
              <p><input type="number" name="awards" id="" required></p>
              <label for="release_date">Fecha de creación </label>
              <p><input type="date" name="release_date" id="" required></p>
              <label for="length">Duración </label>
              <p><input type="number" name="length" id="" required></p>
              <br>
              <p> <button class="botonAgregar" type="submit">Agregar</button>
                <a class="botonVolver" href="/">Home</a>
              </p>
      </main>
      <%- include('./partials/footer.ejs') %>
  </body>

</html> -->