<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/register.css">

  <body>

    <%- include('./partials/header.ejs') %>
      <main>
        <section class="form-register">
          <form method="POST" action="/user/register">

            <h3>Registrate!</h3>
            <!-- NOMBRE -->
            <input class="controls" type="text" name="nombre" autocomplete="nombre" id="nombre" required minlength="4"
              maxlength="18" placeholder="Ingrese su Nombre">

            <!-- EMAIL-->
            <input class=" controls" type="email" name="mail" id="mail" placeholder="Ingrese su Correo"
              autocomplete="email" required>

            <!-- PASSWORD-->
            <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña"
              autocomplete="new-password" required minlength="6">

            <label>Rol de usuario</label>
            <select name="rol" id="rol">
              <option value="1">Administrador</option>
              <option value="0">Usuario</option>
            </select>
            <input class="botons" type="submit" value="Registrar">
          </form>
        </section>

        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>

        <p>¿Ya tenes Cuenta?<a class="inicioSesion" href="/user/login"> Iniciar Sesion</a></p>

      </main>

      <%- include('./partials/footer.ejs') %>
  </body>

</html>