<footer>
  <div class="footer">
    <div>
      <h5>Atencion al cliente</h5>
      <h5>Centro de ayuda</h5>
      <h5>Terminos y condiciones</h5>
    </div>
    <div>
      <h5>La empresa</h5>
      <h5>Trabaja con nosotros</h5>
      <h5>Preguntas frecuentes</h5>
    </div>
    <div>
      <h5>Prensa</h5>
      <h5>Solo en DH</h5>
      <h5>Empleo</h5>
    </div>
  </div>
</footer>