<header class="main-header">

  <div class="main-header-top-bar">
    <a href="/">
      <img src="/img/logo-DHM.svg" class="logo">
    </a>

    <a href="#" class="menu-burger">
      <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="main-navbar">
      <div>
        <a href="/movies">Peliculas</a>
        <a href="#">Series</a>
        <a href="/login">Iniciar Sesión</a>
      </div>
    </nav>
</header>