<% if (!locals.user) { %>
  <% } else { %>
    <div class="bienvenido">
      <h1>Bienvenida/o <%= locals.user.name %>
      </h1>
    </div>
    <div>
      <button class="botonAgregar"><a href="/logout">Logout</a></button>
    </div>
    <div>

    </div>
    <% } %>
      </section>